html {
    background-color: aqua;
}

.contain {
    width: 60vw;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: orange;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
    text-align: center;
    font-size: 6vw;
}

/* p, li {
    font-size: 2.5vw;
    line-height: 2;
    letter-spacing: 1px;
} */

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

figure {
    margin: 10px 0 10px 0;
}

figcaption {
    text-align: center;
}

#heading {
    color: blue;
}

.popular {
    border-style: dotted ;
    border-color: red;
    border-width: 4px;
}

@media screen and (max-width: 375px) {
    img {
        width: 50%;
    }

    p, li {
        font-size: 1.5vw;
        line-height: 2;
        letter-spacing: 1px;
    }

    figcaption {
        text-align: center;
        font-size: 2vw;
    }
}

@media screen and (min-width: 1025px) {
    img {
        width: 50%;
    }
    h1 {
        font-size: 4vw;
    }
    p, li {
        font-size: 1vw;
    }
}
/* @media screen and (max-width: 375px) {
    img.resp {
        width: 100px;;
    }
} */